body {
    color:deeppink;
    text-align: center;
    font-family: Arial;
}
h1{
    color: blueviolet;
}

#cabecera {
    background: green;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.rem;
}
#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}
    h5{
    color:chartreuse;
    font-size: 5px;

}